In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.master('local').appName('zero_analyst').getOrCreate()
spark

# MySQL connection properties
mysql_host = "localhost"
mysql_port = 3306
mysql_database = "zero_analyst"
mysql_username = "root"
mysql_password = "mypassword"
table_name='retail_sales'

# JDBC URL
jdbc_url = f"jdbc:mysql://{mysql_host}:{mysql_port}/{mysql_database}"
connection_properties = {
    "user": mysql_username,
    "password": mysql_password,
    "driver": "com.mysql.cj.jdbc.Driver"
}

In [2]:
# 01 Write the SQL query to find the second highest salary   SELECT * FROM employees01 
employees01 = spark.read.format("jdbc").option("url", jdbc_url).option("driver", "com.mysql.cj.jdbc.Driver") \
    .option("dbtable", 'employees01').option("user", mysql_username).option("password", mysql_password).load()

employees01.show()

+-----------+---------------+-----------+--------+
|employee_id|           name| department|  salary|
+-----------+---------------+-----------+--------+
|          1|       John Doe|Engineering|63000.00|
|          2|     Jane Smith|Engineering|55000.00|
|          3|Michael Johnson|Engineering|64000.00|
|          4|    Emily Davis|  Marketing|58000.00|
|          5|    Chris Brown|  Marketing|56000.00|
|          6|    Emma Wilson|  Marketing|59000.00|
|          7|       Alex Lee|      Sales|58000.00|
|          8|    Sarah Adams|      Sales|58000.00|
|          9|     Ryan Clark|      Sales|61000.00|
|         11|           zara|         it|63000.00|
+-----------+---------------+-----------+--------+